{% extends "layout.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Unit</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% block body %}
    <div class="container">

        <div class="m-1 border-2 rounded-b-3xl card card-size mt-3">
    <h2 class="text-center"><br>Update Unit</h2>
    <div class="row justify-content-center">
        <div class="col-lg-6 border p-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'unit' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
</body>
</html>
