{% extends "layout.html" %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Unit List</title>
</head>
<body>
    {% block body %}
    <div class="container">

        <div class="m-1 border-2 rounded-b-3xl card card-size mt-3">
<h1 class="text-center"><br>Unit List</h1>

<div class="row justify-content-center">
    <div class="col-sm-5">
    <div class="d-flex justify-content-end mb-2">
        <button type="button" class="btn btn-outline-info"><a href="{% url 'unit_create' %}">+ ADD</a></button>
    </div>

    <div class="row justify-content-between align-items-center mb-2">
        <div class="col-auto d-flex align-items-center">
            <div>Show</div>
            <div class="dropdown mx-2">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="entriesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ items_per_page }}
                </button>
                <div class="dropdown-menu" aria-labelledby="entriesDropdown">
                    <a class="dropdown-item" href="?page=1&items_per_page=3">3</a>
                    <a class="dropdown-item" href="?page=1&items_per_page=5">5</a>
                    <a class="dropdown-item" href="?page=1&items_per_page=10">10</a>
                    <a class="dropdown-item" href="?page=1&items_per_page=20">20</a>
                </div>
            </div>
            <div>entries</div>
        </div>

        <div class="col-auto">
            <form class="form-inline my-2 my-lg-0 d-flex align-items-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search" name="q" value="{{ query }}">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover w-100 border-1-solid-black">
                <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Unit Name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                  {% for unit in page_obj %}
                  <tr>
                      <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>{{ unit.name }}</td>
                    <td>
                        <a href="{% url 'unit_update' unit.pk %}" class="text-decoration-none text-secondary mr-3">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'unit_delete' unit.pk %}" class="text-decoration-none text-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- Pagination controls -->
            <nav aria-label="Page navigation">
                <div class="d-flex justify-content-between">
                    <div>
                        Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries.
                    </div>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&items_per_page={{ items_per_page }}" aria-label="Previous">
                                    <span aria-hidden="true">Previous Page</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Previous Page</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}&items_per_page={{ items_per_page }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&items_per_page={{ items_per_page }}" aria-label="Next">
                                    <span aria-hidden="true">Next Page</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next Page</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock body %}
</body>
</html>
